src
node_modules
test
.github
.vscode
assets
scripts
temp
.eslintcache
.gitignore
*.tgz
*.vsix
*.md
!README.md
!README_zh.md
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
tsup.config.ts
vitest.config.ts
eslint.config.js
TEST_DOCUMENTATION.md
